{% extends "layout.html" %}

{% block title %}Flack::Create Channel{% endblock %}

{% block body %}

  <script src="{{ url_for('static', filename='createchannel.js') }}"></script>

  <h1>Create Channel</h1>

  <form id="channelname_form" action="{{ url_for('create_channel', username=username) }}" method="post">
    <!-- Submitted username already in use; alert user -->

    {% if message is not none %}
      <p class="alert alert-danger alert-size"> {{ message }} </p>
    {% endif %}

    <div class="form-group">
      <label for="channel_name">Please enter a channel name (max 20 characters; alphanumeric, '_', '.', and '@' characters only):
      </label>
      <input
        type="text"
        class="form-control text-field"
        name="channel_name"
        maxlength=20
        id="channel_name" required>
    </div>

    <div class="form-group">
      <button id="submit" class="btn btn-secondary">Create</button>
    </div>

  </form>

{% endblock %}
